#index1 {font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
background-color:burlywood;
font-size: large;

}
.recipeimg { display: flex;
    justify-content: center;}
#directions { color: black;
background-color: burlywood;
font-family: Georgia, 'Times New Roman', Times, serif;}
#ingredients {color: black;
background-color: burlywood;
font-family:Georgia, 'Times New Roman', Times, serif ;}
.chart {  
    width: 25%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 5px solid #ddd;
    padding: 10px;
    text-align: left;
    border-color: black;}
body.form-page {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 600px;
    background-color: burlywood;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.container2 { display: flex;
flex-direction: column;}
.navbar { font-family: Georgia, 'Times New Roman', Times, serif;

}
.navbar a { color:black;}